#contact{
  form{
    width: 50%;
    margin: 0 auto;
    input{
      display: block;
      padding: .8rem 1.2rem;
      border: solid 1px #3d3d3d;
      border-radius: .4rem;
    }
    button{
      display: block;
    }
  }
}